@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-start-rgb: 230, 230, 230;
  --foreground-end-rgb:103, 111, 124;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-start-rgb: 24, 24, 24;
    --foreground-end-rgb:74,74,74;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background: linear-gradient(
      315deg,
      rgb(var(--foreground-end-rgb)),
      rgb(var(--foreground-start-rgb))
    );
    
}

/* div {
  border-color: red;
  border-width: medium;
} */
